@mixin linear(
    $reverse: 0,
    $direction: right
) {
    @if $reverse == 1 {
        background: linear-gradient(to $direction, #7CCBFF, #C348FF);
    } @else {
        background: linear-gradient(to $direction, #C348FF, #7CCBFF);
    }
}