$main-color: #C348FF; // 主色
$white: #FFFFFF; // 白
$black: #000000; // 黑
$gray: #999999; // 灰白
$grey: #B3B9C1; // 灰
$green: #32BE67; // 绿
$red: #D02052; // 红
$blue: #54D7F7 ; // 蓝
$yellow: #FF8B2D; // 黄
 
$card: #101010; // 卡片
$box: #171717; // 盒子