.cusToast {
    z-index: 5000 !important;
}

.van-count-down{
    color: $gray !important;
}

.van-loading__text{
    color: $gray !important;
}

.van-loading{
    color: $gray !important;
}

.van-pull-refresh__head{
    color: $gray !important;
}

.van-list__finished-text{
    color: $gray !important;
}